@charset "UTF-8";
/* playfair-display-regular - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playfair_display/playfair-display-v13-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"), url("../fonts/playfair_display/playfair-display-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair_display/playfair-display-v13-latin-regular.woff2") format("woff2"), url("../fonts/playfair_display/playfair-display-v13-latin-regular.woff") format("woff"), url("../fonts/playfair_display/playfair-display-v13-latin-regular.ttf") format("truetype"), url("../fonts/playfair_display/playfair-display-v13-latin-regular.svg#PlayfairDisplay") format("svg");
  /* Legacy iOS */
}
/* playfair-display-italic - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/playfair_display/playfair-display-v13-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Playfair Display Italic"), local("PlayfairDisplay-Italic"), url("../fonts/playfair_display/playfair-display-v13-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair_display/playfair-display-v13-latin-italic.woff2") format("woff2"), url("../fonts/playfair_display/playfair-display-v13-latin-italic.woff") format("woff"), url("../fonts/playfair_display/playfair-display-v13-latin-italic.ttf") format("truetype"), url("../fonts/playfair_display/playfair-display-v13-latin-italic.svg#PlayfairDisplay") format("svg");
  /* Legacy iOS */
}
/* playfair-display-700 - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/playfair_display/playfair-display-v13-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Playfair Display Bold"), local("PlayfairDisplay-Bold"), url("../fonts/playfair_display/playfair-display-v13-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair_display/playfair-display-v13-latin-700.woff2") format("woff2"), url("../fonts/playfair_display/playfair-display-v13-latin-700.woff") format("woff"), url("../fonts/playfair_display/playfair-display-v13-latin-700.ttf") format("truetype"), url("../fonts/playfair_display/playfair-display-v13-latin-700.svg#PlayfairDisplay") format("svg");
  /* Legacy iOS */
}
/* playfair-display-700italic - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/playfair_display/playfair-display-v13-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Playfair Display Bold Italic"), local("PlayfairDisplay-BoldItalic"), url("../fonts/playfair_display/playfair-display-v13-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair_display/playfair-display-v13-latin-700italic.woff2") format("woff2"), url("../fonts/playfair_display/playfair-display-v13-latin-700italic.woff") format("woff"), url("../fonts/playfair_display/playfair-display-v13-latin-700italic.ttf") format("truetype"), url("../fonts/playfair_display/playfair-display-v13-latin-700italic.svg#PlayfairDisplay") format("svg");
  /* Legacy iOS */
}
/* playfair-display-900 - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/playfair_display/playfair-display-v13-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Playfair Display Black"), local("PlayfairDisplay-Black"), url("../fonts/playfair_display/playfair-display-v13-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair_display/playfair-display-v13-latin-900.woff2") format("woff2"), url("../fonts/playfair_display/playfair-display-v13-latin-900.woff") format("woff"), url("../fonts/playfair_display/playfair-display-v13-latin-900.ttf") format("truetype"), url("../fonts/playfair_display/playfair-display-v13-latin-900.svg#PlayfairDisplay") format("svg");
  /* Legacy iOS */
}
/* playfair-display-900italic - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/playfair_display/playfair-display-v13-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Playfair Display Black Italic"), local("PlayfairDisplay-BlackItalic"), url("../fonts/playfair_display/playfair-display-v13-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair_display/playfair-display-v13-latin-900italic.woff2") format("woff2"), url("../fonts/playfair_display/playfair-display-v13-latin-900italic.woff") format("woff"), url("../fonts/playfair_display/playfair-display-v13-latin-900italic.ttf") format("truetype"), url("../fonts/playfair_display/playfair-display-v13-latin-900italic.svg#PlayfairDisplay") format("svg");
  /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto/roboto-v18-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto/roboto-v18-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-300.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-300.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-300.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto/roboto-v18-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/roboto/roboto-v18-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-300italic.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-300italic.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-300italic.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-300italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-regular.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v18-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/roboto/roboto-v18-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-italic.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-italic.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-italic.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v18-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/roboto-v18-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-500.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v18-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../fonts/roboto/roboto-v18-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-500italic.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-500italic.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-500italic.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-500italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v18-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/roboto-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-700.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v18-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../fonts/roboto/roboto-v18-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-700italic.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-700italic.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-700italic.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-700italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v18-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto/roboto-v18-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-900.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-900.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-900.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v18-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("../fonts/roboto/roboto-v18-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-900italic.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-900italic.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-900italic.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-900italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: calc(16px * 1.5 + 3px);
  background: #FFF;
  color: #212721;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.65rem;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1rem;
}

dl, ol, ul {
  margin-bottom: 1.5rem;
}

p {
  margin: 0.5rem 0 1.5rem;
  text-rendering: optimizeLegibility;
}

.site-name img {
  width: 180px;
}
@media (max-width: 991px) {
  .site-name img {
    width: 150px;
  }
}

.top-stick {
  min-height: 96px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  background-color: rgba(0, 37, 67, 0.9);
}
@media (max-width: 575px) {
  .header {
    background-color: #002543;
  }
}
@media (max-width: 575px) {
  .header > .container {
    padding: 0 5px;
  }
}
.header a:hover {
  text-decoration: none;
}

.header {
  padding: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    padding-top: 0;
  }
}
.header .header-container {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0;
}
@media (max-width: 991px) {
  .header .header-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.site-branding {
  padding: 0.75rem 0;
  margin-right: 2rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .site-branding {
    align-self: center;
  }
}
@media (max-width: 991px) {
  .site-branding {
    margin: -0.5rem 0 0;
  }
}

.site-name {
  font-size: 34px;
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
}
@media (max-width: 991px) {
  .site-name {
    font-size: 1.65rem;
    margin-left: 0.5rem;
    position: absolute;
  }
}
@media (max-width: 575px) {
  .site-name {
    font-size: 1.25rem;
  }
}

#block-quicklinks ul.nav > li {
  position: relative;
}
#block-quicklinks ul.nav > li > a {
  padding: 0.15rem 1.15rem 0.15rem 0.5rem;
  margin-top: 0.35rem;
}
#block-quicklinks ul.nav li ul.menu {
  display: block;
  top: 90%;
  left: 0;
  max-height: 0;
  overflow: hidden;
  right: auto;
  padding: 0;
  background-color: #FFF;
  opacity: 0;
  -webkit-transition: opacity 0.3s, max-height 0.3s;
  transition: opacity 0.3s, max-height 0.3s;
  margin-left: -0.5rem;
  position: absolute;
}
#block-quicklinks ul.nav li ul.menu a {
  color: #212721;
}
#block-quicklinks ul.nav li ul.menu a:hover {
  background-color: #f8efeb;
}
#block-quicklinks ul.nav li:hover ul.menu {
  max-height: max-content;
  opacity: 1;
  z-index: 99;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header .navbar-collapse {
    background: transparent;
    margin-top: 2rem;
  }
}
@media (max-width: 991px) {
  .header .navbar-collapse {
    top: 5rem;
  }
}

@media (min-width: 992px) {
  .region-utility-menu {
    position: initial;
    top: 0;
    right: 0;
  }
}
@media (min-width: 992px) {
  #block-universitylinks ul.nav > li.nav-item > a,
.region-utility-menu ul.nav > li.nav-item > a {
    position: relative;
    transition: color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  #block-universitylinks ul.nav > li.nav-item > a:after,
.region-utility-menu ul.nav > li.nav-item > a:after {
    content: "";
    width: 23px;
    height: 2px;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 1rem;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    background: #E77500;
  }
  #block-universitylinks ul.nav > li.nav-item > a:hover:after,
.region-utility-menu ul.nav > li.nav-item > a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media (min-width: 768px) {
  .region-top-header {
    display: flex;
    flex: 1;
    align-items: center;
  }
}
.region-utility-menu ul.utility-nav > li > a {
  padding: 0.25rem 1rem;
}
.region-utility-menu ul.utility-nav li.expanded {
  position: relative;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  font-size: 0.875rem;
}
@media (min-width: 992px) {
  .region-utility-menu ul.utility-nav li.expanded:after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/icon_down.svg) no-repeat center right;
    background-size: 20px 20px;
    transition: all 0.1s;
    position: absolute;
    right: 0;
    top: 30%;
    width: 17px;
    height: 17px;
    background-size: 17px 17px;
    top: 28%;
  }
  .region-utility-menu ul.utility-nav li.expanded:hover, .region-utility-menu ul.utility-nav li.expanded:focus {
    border-bottom: 6px solid #E77500;
  }
  .region-utility-menu ul.utility-nav li.expanded:hover:after, .region-utility-menu ul.utility-nav li.expanded:focus:after {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transition-duration: 0.5s;
  }
}
.region-utility-menu ul.utility-nav li a {
  font-size: 0.875rem;
}
@media (min-width: 992px) {
  .region-utility-menu ul.utility-nav li ul.submenu {
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    border-width: 1px 1px 1px;
    border-style: none solid solid;
    border-color: #e5e5e5 #e5e5e5 #e5e5e5;
    margin-top: 6px;
    padding: 0.5rem 0;
  }
}
.region-utility-menu ul.utility-nav li ul.submenu li {
  margin: 0.25rem 0.85rem;
}
.region-utility-menu ul.utility-nav li ul.submenu a {
  color: #212721;
  line-height: 1.25em;
  border-bottom: 2px solid transparent;
  padding: 0.25rem 0.5rem;
}
.region-utility-menu ul.utility-nav li ul.submenu a:hover {
  border-bottom-color: #35B4BE;
}
.region-utility-menu ul.utility-nav li ul.submenu a.is-active {
  border-bottom-color: #35B4BE;
}
@media (min-width: 992px) {
  .region-utility-menu ul.utility-nav li.expanded:hover ul.submenu {
    left: auto;
    right: 0;
    min-width: 180px;
  }
}

/* stickiness */
#header.stuck {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
#header.stuck .nav.main {
  padding-top: 0;
  margin-top: 0;
}

.toolbar-horizontal #header.stuck {
  top: 39px;
}
.toolbar-horizontal.toolbar-tray-open #header.stuck {
  top: 78px;
}

@media (min-width: 610px) {
  .toolbar-vertical #header.stuck {
    top: 39px;
  }
}

@media (max-width: 767px) {
  .region-top-header {
    display: none;
  }
}

.region-top-header-in-mobile {
  display: block;
}

.main-menu button.toggle-mobile-menu {
  right: 1.5rem;
  top: 1.5rem;
}

.header {
  position: relative;
  z-index: 99;
}
@media (max-width: 991px) {
  .header {
    height: 5rem;
  }
}

.top-utility-menus {
  display: flex;
  justify-content: space-between;
}

.menu-wrapper {
  flex-basis: 100%;
}
@media (min-width: 992px) {
  .menu-wrapper {
    flex-basis: 78%;
  }
}
@media (max-width: 991px) {
  .menu-wrapper {
    position: relative;
    top: 4rem;
    border-bottom: 4px solid #E77500;
  }
}

#footer {
  background-color: #002543;
  color: #FFF;
}
#footer a {
  border-bottom: 1px solid #35B4BE;
  box-shadow: 0 -0.2em 0 rgba(174, 225, 229, 0) inset;
  transform: translateZ(0);
  transition: 150ms ease;
  font-weight: 500;
  border-bottom-color: transparent;
  color: #35B4BE;
}
#footer a:hover {
  border-bottom-color: transparent;
  text-decoration: none;
  box-shadow: 0 -1em 0 #aee1e5 inset;
  color: #212721;
}
#footer .row > .layout__region {
  padding: 2rem 0 0;
}
@media (max-width: 575px) {
  #footer .row > .layout__region {
    padding-top: 2rem;
    padding-bottom: 0;
  }
  #footer .row > .layout__region.col-md-3 {
    padding-top: 0;
  }
}
#footer .layout__region,
#footer .layout__region > .block {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  #footer .layout__region {
    flex-basis: 50%;
    max-width: 50%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 575px) {
  #footer .layout__region {
    flex-basis: 100%;
    max-width: 100%;
  }
}
#footer > .container > .row {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 575px) {
  #footer > .container > .row {
    margin-bottom: 0;
    display: block;
  }
}
@media (max-width: 575px) {
  #footer .layout__region .block.block-ps-social-links {
    padding-left: 0.5rem;
    margin-top: 1rem;
  }
}
#footer p,
#footer ul,
#footer ol {
  font-size: 0.875rem;
}
#footer p {
  margin-bottom: 0.5rem;
}
#footer ul, #footer ol {
  padding-left: 1rem;
}
#footer .pu-logo:hover {
  box-shadow: none;
}
#footer .pu-logo:hover img {
  opacity: 0.9;
}
#footer .pu-logo img {
  width: 142px;
  height: 40px;
}
#footer .subfooter {
  border-top: 1px solid #005393;
  padding-top: 0.5rem;
}
#footer .subfooter ul {
  padding-left: 0;
}
#footer .layout__region {
  padding: 0 1rem;
}
@media (min-width: 576px) and (max-width: 767px) {
  #footer .col-sm:last-child {
    text-align: right !important;
  }
}
@media (max-width: 575px) {
  #footer .pu-logo {
    background-image: none;
    max-width: 50%;
  }
  #footer .pu-logo img {
    width: 130px;
    max-width: 100%;
    height: auto;
  }
  #footer .col-sm {
    width: 100%;
  }
  #footer .col-sm ul {
    margin-bottom: 0;
  }
  #footer .col-sm:last-child {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0 15px 15px;
  }
}
@media (min-width: 576px) {
  #footer .col-6:last-child {
    text-align: right;
  }
}
#footer .col-6:last-child ul {
  display: inline-block;
  text-align: left;
}
.onboard #footer h4 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  padding-bottom: 10px;
  margin-top: 1.5rem;
}
.onboard #footer h4:first-child {
  margin-top: 0.6rem;
}
.onboard #footer h4:after {
  content: "";
  width: 2rem;
  height: 1px;
  background-color: #0064B2;
  display: block;
  position: absolute;
  bottom: 5px;
}
.onboard #footer .col-md-3:nth-child(3) div {
  border-left: 1px solid #005393;
  padding: 0.5rem 0 0.5rem 2rem;
}
@media (max-width: 575px) {
  .onboard #footer .col-md-3:nth-child(3) div {
    padding-left: 0;
    border-left-width: 0;
    border-top: 1px solid #005393;
  }
}
@media (max-width: 575px) {
  .onboard #footer .layout__region.col-md-3:first-child {
    padding-top: 2rem;
  }
}

.icon-flex {
  display: flex;
}
.icon-flex a:hover {
  height: 20px;
}

/* Desktop View */
@media (min-width: 992px) {
  #block-universitylinks ul.nav a {
    font-size: 0.875rem;
    padding: 0.25rem 1rem;
  }

  .main-menu ul.main > li {
    position: relative;
    margin: 0 0.75rem;
    border-bottom: 4px solid transparent;
  }
  .main-menu ul.main > li > a {
    font-size: 20px;
    text-transform: uppercase;
    padding: 0.5rem;
  }
  .main-menu ul.main > li:last-child:hover {
    border-bottom-color: transparent;
    background-color: #212721;
  }
  .main-menu ul.main > li:last-child a {
    border: 1px solid #E77500;
    font-size: 1.1rem;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    margin-top: 0.25rem;
  }
  .main-menu ul.main > li:hover,
.main-menu ul.main > li:focus,
.main-menu ul.main > li.added-focus,
.main-menu ul.main > li.active {
    border-bottom-color: #E77500;
  }
  .main-menu ul.nav > .expanded > a {
    position: relative;
    padding: 0.5rem 1.5rem 0.5rem 0.25rem;
  }
  .main-menu ul.nav > .expanded > a:after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/icon_down.svg) no-repeat center right;
    background-size: 20px 20px;
    transition: all 0.1s;
    position: absolute;
    right: 0;
    top: 30%;
  }
  .main-menu ul.nav > li.expanded:hover > a:after,
.main-menu ul.nav > li.added-focus > a:after,
.main-menu ul.nav > li.expanded > a:focus:after {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transition-duration: 0.5s;
  }

  .main-navigation .menu-items .sub-menu {
    list-style: none;
    line-height: 1.45em;
  }
  .main-navigation .menu-items .sub-menu li {
    margin-bottom: 0.45rem;
  }
  .main-navigation .menu-items > li {
    list-style: none;
  }
  .main-navigation .menu-items > li > .sub-menu {
    position: absolute;
    top: 100%;
    left: -9999px;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
    transition: opacity 300ms ease, -webkit-transform 300ms ease;
    -o-transition: opacity 300ms ease, transform 300ms ease;
    transition: opacity 300ms ease, transform 300ms ease;
    transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
    z-index: 10;
    min-width: 290px;
    margin: 0;
    background-color: #FFF;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    border-width: 1px 1px 1px;
    border-style: none solid solid;
    border-color: #e5e5e5 #e5e5e5 #e5e5e5;
    width: 100%;
    margin-top: 4px;
  }
  .main-navigation .menu-items > li > .sub-menu a {
    border-bottom: 2px solid #FFF;
    color: #212721;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    padding: 0;
    display: inline;
    color: #212721;
  }
  .main-navigation .menu-items > li > .sub-menu a:hover {
    border-bottom: 2px solid #35B4BE;
  }
  .main-navigation .menu-items > li > .sub-menu .sub-menu {
    margin: 1rem 0 1rem 0.5rem;
    border-left: 2px solid #E77500;
    padding-left: 1rem;
  }
  .main-navigation .menu-items > li:hover > .sub-menu {
    left: 0;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-menu ul.main > li {
    margin: 0 0.25rem;
  }
  .main-menu ul.main > li > a {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .header .toggle-mobile-menu-icon,
.header .toggle-search-icon {
    font-size: 1.5rem;
    color: white;
  }
  .header .toggle-mobile-menu-title {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 300;
  }

  #main-menu {
    background-color: #FFF;
  }
  #main-menu ul.nav li a {
    color: #212721;
  }
  #main-menu ul.main a {
    font-size: 1.2rem;
    padding: 0.85rem;
    border-bottom: 1px solid #e5e5e5;
    border-left: 4px solid transparent;
  }
  #main-menu ul.main > li.active > a {
    border-left-color: #E77500;
    font-weight: 500;
  }
  #main-menu ul.main li.active li.active a {
    background-color: #f8efeb;
    font-weight: 500;
  }
  #main-menu ul.main ul.submenu a {
    font-size: 1rem;
  }
  #main-menu ul.main ul.submenu .toggle-submenu {
    display: none;
  }
  #main-menu ul.main ul.submenu ul.submenu {
    display: none;
  }
  #main-menu li.expanded .fas {
    color: #212721;
  }
  #main-menu li.expanded .toggle-submenu {
    top: 0;
    padding: 0.85rem 0.5rem;
    cursor: pointer;
  }
  #main-menu .region-utility-menu ul.utility-nav li {
    border-bottom: 1px solid #e5e5e5;
    font-size: 1rem;
    color: #212721;
    margin: 0.25rem 0;
  }
  #main-menu .region-utility-menu ul.utility-nav li.expanded:last-child {
    padding: 0.5rem 0.85rem 0.5rem 1.25rem;
  }
  #main-menu .region-utility-menu ul.utility-nav li.expanded .toggle-submenu {
    padding: 0.5rem;
  }
  #main-menu .region-utility-menu ul.utility-nav li.expanded .submenu {
    padding-left: 0;
    margin-left: 0;
  }
  #main-menu .region-utility-menu ul.utility-nav li a {
    font-size: 1rem;
    padding: 0.5rem 0.85rem 0.5rem 1.25rem;
  }

  #block-universitylinks ul.nav {
    display: flex;
    flex-wrap: wrap;
  }

  .menu--social-links {
    margin: 1rem 0 1rem 1rem;
    display: inline-block;
    float: left;
    width: 65%;
  }
  .menu--social-links ul.nav li {
    display: inline-block;
    margin-right: 0.5rem;
  }
  .menu--social-links ul.nav li > a {
    font-size: 0;
    background-position: 50% 50%;
    padding: 1rem;
    background-color: #E77500;
    background-size: 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 5px;
  }
  .menu--social-links ul.nav li span.ext {
    display: none;
  }
}
header .main-menu {
  flex-grow: 1;
  border-top: 1px solid rgba(143, 206, 255, 0.3);
  padding-top: 0.25rem;
}
header .main-menu .container {
  padding-left: 0;
  padding-right: 0;
}

#main-menu {
  justify-content: flex-end;
}

@media (min-width: 768px) and (max-width: 991px) {
  .top_header .block-ps-social-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex-grow: 1;
  }
}
@media (min-width: 992px) {
  .header .collapse:not(.show) {
    display: flex;
    flex-wrap: wrap;
  }

  .top-utility-menus {
    justify-content: space-between;
    order: 1;
    flex-basis: 100%;
  }

  .main-menu {
    order: 2;
  }
}
@media (max-width: 991px) {
  .header .navbar-collapse {
    position: initial;
    top: 0;
  }
  .header > .collapse.show {
    background-color: #FFF;
    width: 100%;
    flex-wrap: wrap;
  }
  .header .top-utility-menus {
    display: block;
    background-color: white;
    overflow: hidden;
  }
  .header .top-utility-menus a {
    color: #212721;
  }
  .header .toggle-mobile-menu {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
}
.icon-location,
.icon-phone,
.icon-fax {
  font-size: 0;
  position: relative;
  padding-right: 0.65rem;
}
.icon-location:before,
.icon-phone:before,
.icon-fax:before {
  content: "";
  font-family: "Font Awesome";
  font-weight: 900;
  font-size: 0.85rem;
}

.icon-location:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-email {
  font-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg%3E%3Cg transform='translate(50 50) scale(0.69 0.69) rotate(0) translate(-50 -50)' style='fill:%23ffffff'%3E%3Csvg fill='%23ffffff' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve'%3E%3Cpath d='M86,20H14c-2.757,0-5,2.243-5,5v50c0,2.757,2.243,5,5,5h72c2.757,0,5-2.243,5-5V25C91,22.243,88.757,20,86,20z M50,54.409 L19.067,26h61.865L50,54.409z M36.632,50.278L15,69.557V30.411L36.632,50.278z M41.073,54.357l5.447,5.002 c0.938,0.91,2.17,1.41,3.48,1.41c1.31,0,2.543-0.5,3.48-1.41l5.446-5.002L80.967,74H19.032L41.073,54.357z M63.368,50.279L85,30.411 v39.146L63.368,50.279z'%3E%3C/path%3E%3C/svg%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 30px;
  height: 22px;
  background-position: -5px -3px;
  background-size: cover;
  padding-right: 0.65rem;
  background-repeat: no-repeat;
}

.icon-fax:before {
  content: "";
}

.icon-contact {
  font-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg height='100px' width='100px' fill='%23ffffff' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' version='1.1' x='0px' y='0px' viewBox='0 0 100 100'%3E%3Cg transform='translate(0,-952.36218)'%3E%3Cpath style='' d='M 50 5 C 25.07 5 5 25.06998 5 50 C 5 74.93 25.07 95 50 95 C 74.93 95 95 74.93 95 50 C 95 25.06998 74.93 5 50 5 z M 55.267578 20 C 57.020227 20 58.488503 20.608669 59.675781 21.824219 C 60.891328 23.039769 61.5 24.508032 61.5 26.232422 C 61.5 27.956802 60.891328 29.427028 59.675781 30.642578 C 58.460235 31.858128 56.991959 32.466797 55.267578 32.466797 C 53.571467 32.466797 52.113984 31.858128 50.898438 30.642578 C 49.68289 29.427028 49.076172 27.956802 49.076172 26.232422 C 49.076172 24.508032 49.670144 23.039769 50.857422 21.824219 C 52.072969 20.608669 53.543198 20 55.267578 20 z M 57.896484 39.505859 L 57.896484 40 C 57.846992 40.007215 57.797538 40.01238 57.748047 40.019531 L 49.203125 69.654297 C 48.72256 71.378697 48.482422 72.509775 48.482422 73.046875 C 48.482422 73.357775 48.608864 73.652847 48.863281 73.935547 C 49.117698 74.189947 49.387237 74.318359 49.669922 74.318359 C 50.150487 74.318359 51.014191 74.370534 52.599609 73.615234 C 54.070567 72.724034 57.287441 70.7421 59.068359 68 L 62.5 70 C 58.231454 77.4347 50.305649 80 45.5 80 C 43.662546 80 40.213801 79.490356 39.111328 78.472656 C 38.037124 77.426756 37.5 76.112297 37.5 74.529297 C 37.5 73.483397 37.740138 72.156222 38.220703 70.544922 L 44.115234 50.275391 C 44.680604 48.324791 44.962891 47.854674 44.962891 46.865234 C 44.962891 46.243334 44.695305 45.691507 44.158203 45.210938 C 43.621101 44.730368 42.885986 44.490234 41.953125 44.490234 C 41.529097 44.490234 41.01942 44.472 40.425781 44.5 L 41 42 C 46.591367 41.23838 52.164256 40.826421 57.748047 40.019531 L 57.896484 39.505859 z ' transform='translate(0,952.36218)' fill='%23ffffff' fill-opacity='1' stroke-width='0'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  width: 19px;
  height: 19px;
  background-position: 0px 1px;
  background-size: cover;
  margin-right: 0.65rem;
  background-repeat: no-repeat;
}

.top-utility-menus .block-ps-social-links ul li {
  margin-right: 1rem;
}
.top-utility-menus .block-ps-social-links ul li a {
  display: inline-block;
  font-size: 0;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  width: 28px;
  height: 33px;
  background-size: cover;
  vertical-align: top;
}
.top-utility-menus .block-ps-social-links ul li a:hover {
  opacity: 0.9;
}
.top-utility-menus .block-ps-social-links ul li .instagram {
  background-image: url("../images/icon-instagram.svg");
}
.top-utility-menus .block-ps-social-links ul li .youtube {
  background-size: 24px;
  background-position: 55% 66%;
  background-image: url("../images/icon-youtube.svg");
}
.top-utility-menus .block-ps-social-links ul li .linkedin {
  background-size: 27px;
  background-position-y: 64%;
  background-image: url("../images/icon-linkedin.png");
}

span.ext {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg%3E%3Cg transform='translate(50 50) scale(0.69 0.69) rotate(0) translate(-50 -50)' style='fill:%23ffffff'%3E%3Csvg fill='%23ffffff' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' version='1.1' x='0px' y='0px'%3E%3Ctitle%3Eshare%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M14.5,2.13603897 C14.5,1.58375422 14.9477153,1.13603897 15.5,1.13603897 C16.0522847,1.13603897 16.5,1.58375422 16.5,2.13603897 L16.5,14.863961 C16.5,15.4162458 16.0522847,15.863961 15.5,15.863961 C14.9477153,15.863961 14.5,15.4162458 14.5,14.863961 L14.5,2.13603897 Z' fill='%23ffffff' fill-rule='nonzero' transform='translate(15.500000, 8.500000) rotate(45.000000) translate(-15.500000, -8.500000) '%3E%3C/path%3E%3Cpath d='M19,5 L15,5 C14.4477153,5 14,4.55228475 14,4 C14,3.44771525 14.4477153,3 15,3 L20,3 C20.5522847,3 21,3.44771525 21,4 L21,9 C21,9.55228475 20.5522847,10 20,10 C19.4477153,10 19,9.55228475 19,9 L19,5 Z' fill='%23ffffff' fill-rule='nonzero'%3E%3C/path%3E%3Cpath d='M17,13.5000015 C17,12.9477168 17.4477152,12.5000015 18,12.5000015 C18.5522847,12.5000015 19,12.9477168 19,13.5000015 L19,19.1250041 C19,20.7128208 17.7128189,22 16.1250013,22 L4.87499867,22 C3.28718109,22 2,20.7128208 2,19.1250039 L2.00000232,7.87499354 C2.00000232,6.28717812 3.28718237,5 4.87499951,5 C8.90694118,5.00000316 8.90694118,5.00000316 10.968755,5.00000379 C11.5210397,5.00000379 11.968755,5.44771904 11.968755,6.00000379 C11.968755,6.55228854 11.5210397,7.00000379 10.968755,7.00000379 C8.9069398,7.00000316 8.9069398,7.00000316 4.87499867,7 C4.39175119,7 4.00000232,7.39174829 4.00000232,7.87499374 L4,19.1250041 C4,19.6082507 4.39174991,20 4.87499867,20 L16.1250013,20 C16.6082501,20 17,19.6082507 17,19.1250041 L17,13.5000015 Z' fill='%23ffffff' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  position: relative;
  width: 24px;
  height: 14px;
  top: 0;
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
}

.ats-hero {
  background-image: url("../images/donald-juarez2.jpg");
  position: relative;
  padding-top: 103px;
  max-height: 400px;
  height: 100vh;
  background-color: #222;
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
}
.onboard .ats-hero {
  background-image: url("../images/angela-francis.jpg");
  background-position-y: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ats-hero {
    padding-top: 127px;
  }
}
@media (max-width: 991px) {
  .ats-hero {
    padding-top: 80px;
  }
}
.ats-hero .container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.ats-hero__content {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 40%;
  padding: 30px 40px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ats-hero__content {
    width: 45%;
    padding: 30px 20px;
  }
}
.ats-hero__content h1 {
  color: #fff;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 10px;
}
.ats-hero__content h1:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  height: 5px;
  width: 50px;
  background: #ee7f2d;
}
.ats-hero__content p {
  margin-bottom: 0;
  font-size: 1rem;
  margin-top: -1.2em;
  margin-left: 100px;
}
@media (max-width: 991px) {
  .ats-hero__content {
    height: auto;
    width: 100%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 40%;
    background: rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 767px) {
  .ats-hero__content {
    padding-left: 4%;
    padding-right: 4%;
  }
}

#main {
  min-height: 20vh;
}

@media (min-width: 561px) {
  .container .row {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 560px) {
  .container .row {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
